# Angular build output
/dist/
/out-tsc/
/build/
/dist-out-tsc/

/coverage/  # Output de las pruebas de cobertura

# Temporary files
/.angular/
/.vscode/
/.idea/
/tmp/
/temp/

# Dependency directories
node_modules/

# Angular Cache
.angular/cache/

# IDE files
/.vscode/
/.idea/
/*.sublime-project
/*.sublime-workspace

# MacOS system files
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*