<app-landing></app-landing>
<div class="home-container" id="about">
    <section>
        <picture>
            <img src="../../../assets/images/profile-pic (4).png" alt="Santiago gauna">
        </picture>
        <div class="about-container">
            <div class="mrb-2">
                <span class="subtitle">
                    ABOUT
                </span>
            </div>
            <h1 class="animate__animated animate__bounceInRight">Frontend Developer</h1>
            <p class="text">
                I am Santiago, a passionate freelancer from Tandil, Argentina and the founder of IMAGINATION COMPANY,
                bringing you
                <span class="text-neutrals-100">web development and design from the future</span>. My
                expertise is developing next-level websites and web applications including full frontend
                design.
            </p>
        </div>
    </section>
</div>

<div class="work-container">
    <div class="mrb-2">
        <span class="subtitle">
            WORK
        </span>
    </div>
    <h1 class="animate__animated animate__bounceInRight">Dig into my universe</h1>
    <div class="row justify-content-center">
        <div class="col-10">
            <div>
                <p-carousel [value]="data" [numVisible]="3" [numScroll]="3" [circular]="true"
                    [responsiveOptions]="responsiveOptions">
                    <ng-template let-product pTemplate="item">
                        <div class="card card-page">
                            <p-card [header]="product.name" [subheader]="product.description">
                                <ng-template pTemplate="header">
                                    <img alt="Card" [src]="product.image" [alt]="product.name" />
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <p-button class="btn-work" label="VIEW" icon="pi pi-search"></p-button>
                                </ng-template>
                            </p-card>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
            <a href="works">
                <p-button class="button-general" label="Show more" icon="pi pi-search"></p-button>
            </a>
        </div>
    </div>
</div>
<div class="skills-container">
    <div class="mrb-2">
        <span class="subtitle">
            SKILLS
        </span>
    </div>
    <h1>That are my skills</h1>
    <div class="skills-cards">
        <div class="skill-card" *ngFor="let skill of skills">
            <p-card [header]="skill.name">
                <ng-template pTemplate="header">
                    <div class="header-skill">
                        <div class="icon-header">
                            <i [class]="skill.icon"></i>
                        </div>
                    </div>

                </ng-template>
                <p>
                    {{skill.description}}
                </p>
            </p-card>
        </div>
        <a href="skills" class="button-skill">
            <p-button class="button-general" label="Show more" icon="pi pi-search"></p-button>
        </a>
    </div>
</div>
<div class="contact-me" id="contactme">
    <div class="section-left">
        <div class="mrb-2">
            <span class="subtitle">
                CONTACT
            </span>
        </div>
        <h1>You can send me a message</h1>
        <p>Get your space suit ready and tell me your ideas to develop your dream website.</p>
    </div>
    <div class="section-right">
        <form [formGroup]="validateForm" class="login-form">
            <div class="input-form">
                <label for="username">EMAIL</label>
                <input pInputText id="username" placeholder="example@gmail.com" aria-describedby="username-help"
                    formControlName="email" />
                <small class="p-error block" *ngIf="
                    validateForm.get('email')?.invalid && validateForm.get('email')?.dirty
                 ">
                    Email is required and must be valid.</small>
            </div>
            <div class="input-form">
                <label for="username">NAME</label>
                <input pInputText id="name" placeholder="Example Name" aria-describedby="name-help"
                    formControlName="name" />
                <small class="p-error block" *ngIf="
                     validateForm.get('name')?.invalid && validateForm.get('name')?.dirty
                  ">
                    Name is required.</small>
            </div>
            <div class="input-form">
                <label for="username">MESSAGE</label>
                <textarea rows="5" cols="30" placeholder="Example Message" pInputTextarea
                    formControlName="message"></textarea>
                <small class="p-error block" *ngIf="
                    validateForm.get('message')?.invalid && validateForm.get('message')?.dirty
                 ">
                    Message is required.</small>
            </div>
            <div class="footer-form">
                <div class="gmail-form">
                    <i class="fa-solid fa-envelope"></i>
                    <span>saantiagosg gmail.com</span>
                </div>
                <p-button label="Submit" class="button-general" icon="pi pi-send" iconPos="right" [loading]="loading"
                    (onClick)="submitForm(validateForm.valid, validateForm.value)"></p-button>
            </div>
        </form>
    </div>
</div>