<app-landing></app-landing>
<div class="home-container">
    <section>
        <picture>
            <img src="https://www.lokkeestudios.com/_astro/lokkee.c5c1cf05.webp" alt="Santiago gauna">
        </picture>
        <div class="about-container">
            <span class="subtitle">
                ABOUT
            </span>
            <h2>TITLE</h2>
            <p class="max-w-prose text-base/relaxed text-neutrals-300">
                I am Santiago, a passionate freelancer from Tandil, Argentina and the founder of IMAGINATION COMPANY, bringing you
                <span class="text-neutrals-100">web development and design from the future</span>. My
                expertise is developing next-level websites and web applications including full frontend
                design.
            </p>
        </div>
    </section>
</div>