<!-- <nav class="navbar navbar-expand-lg nav-sg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
            aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <div class="row collapse navbar-collapse" id="mainNavbar">
                <div class="col-3 col-nav col-links">
                    <a class="nav-link" aria-current="page" href="home#about">ABOUT</a>
                    <a class="nav-link" href="skills">SKILLS</a>
                    <a class="nav-link" href="works">WORKS</a>
                    <a class="nav-link" href="home#contactme">CONTACT ME</a>
                </div>
                <div class="col-6 col-nav col-name">
                    <a class="nav-link" aria-current="page" href="#">SANTIAGO GAUNA</a>
                </div>
                <div class="col-3 col-nav col-button">
                    <button type="button" class="btn btn-primary">IDONTKNOW</button>
                </div>
            </div>
        </div>
    </div>
</nav> -->
<nav class="navbar navbar-expand-lg nav-sg">
    <div class="container-fluid">
      <button class="navbar-toggler btn-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="row collapse navbar-collapse" id="navbarSupportedContent">
        <div class="col-3 col-nav col-links">
            <a class="nav-link" aria-current="page" href="home#about">ABOUT</a>
            <a class="nav-link" href="skills">SKILLS</a>
            <a class="nav-link" href="works">WORKS</a>
            <a class="nav-link" href="home#contactme">CONTACT ME</a>
        </div>
        <div class="col-6 col-nav col-name">
            <a class="nav-link" aria-current="page" href="#">SANTIAGO GAUNA</a>
        </div>
        <div class="col-3 col-nav col-button">
            <button type="button" class="btn btn-primary">IDONTKNOW</button>
        </div>
      </div>
    </div>
  </nav>