.nav-sg{
    background-color: #06091880;
    margin: 25px 55px;
    border-radius: 9999px;
    backdrop-filter: blur(12px);
}
a{
    color: white;
    font-size: 14px;
    font-weight: 600;
}
#mainNavbar{
    width: 100%;
}
.col-nav{
    display: flex;
    align-items: center;
    gap: 12px;
}
.col-name{
    justify-content: center;
}
.col-links{
    justify-content: center;
}
.col-button{
    justify-content: right;
}