<div class="services">
    <div class="service">
        <a href="">
            ABOUT
        </a>
    </div>
    <div class="service">
        <a href="">
            WORK
        </a>
    </div>
    <div class="service">
        <a href="">
            ABOUT
        </a>
    </div>
    <div class="service">
        <a href="">
            WORK
        </a>
    </div>
</div>
<div class="row footer-container">
    <div class="col-4 col-copyright">
        © {{year}} SANTIAGO GAUNA
    </div>
    <div class="col-4 col-networks">
        <a href="https://github.com/saantiago-sg" target="_blank">
            <i class="pi pi-github icon"></i>
        </a>
        <a href="mailto:saantiagosg@gmail.com" target="_blank">
            <i class="pi pi-at icon"></i>
        </a>
        <a href="https://www.linkedin.com/in/saantiago-gauna/" target="_blank">
            <i class="pi pi-linkedin icon"></i>
        </a>
        <a href="https://api.whatsapp.com/send?phone=2494365208&text=Hola!%Aqui%20puedes%20contactarme%20por%20mi%20Whatsapp."
            target="_blank">
            <i class="pi pi-whatsapp icon"></i>
        </a>
    </div>
    <div class="col-4 col-imprint">
        <a href="">
            IMPRINT
        </a>
    </div>
</div>